.bg-video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.15;

  // size of a parent
  height: 100%;
  width: 100%;

  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover; // fill the entire parent while maintaining its aspect ratio
  }
}
