.card {
  position: relative;

  // makes flipping animation
  perspective: 150rem;
  -moz-perspective: 150rem;

  // set height to fix collapsing caused by absolute positioning
  height: 52rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;

    height: 52rem;
    width: 100%;
    border-radius: $default-border-radius;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    overflow: hidden;

    transition: all 0.8s ease;

    // hides back side
    backface-visibility: hidden;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary
        );
      }

      &-3 {
        background-image: linear-gradient(
          to bottom right,
          $color-tertiary-light,
          $color-tertiary
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    height: 23rem;

    background-size: cover;
    // blend image and gradient
    background-blend-mode: screen;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary
        ),
        url(../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary
        ),
        url(../img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary
        ),
        url(../img/nat-7.jpg);
    }
  }

  &__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;

    width: 75%;
    text-align: right;

    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
  }

  &__heading-span {
    padding: 1rem 1.5rem;

    // treats span like 2 lines
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        padding: 1rem;
        text-align: center;
        font-size: 1.5rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // BACK SIDE STYLING

  &__cta {
    @include absCenter;

    width: max-content;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 8rem;

    color: $color-white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  // MEDIA QUERY
  // a lot of rewriting, so there is a separate media query
  @include respond(tab-port) {
    // there is no longer back side, so there is no need to specify height, same with the sides
    height: auto;
    border-radius: $default-border-radius;
    overflow: hidden;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      // back side comes after front side, so there is no need for absolute positioning
      position: relative;
      height: auto;

      // remove border and shadow from the side and apply to the entire card
      border-radius: 0;
      box-shadow: none;

      &--back {
        // disable rotating
        transform: rotateY(0);

        // crop similar to card picture
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    // BACK SIDE STYLING

    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);

      padding: 4rem;
      padding-top: 6rem;
      width: 100%;
      text-align: center;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
      font-weight: 300;
    }
  }
}
