.features {
  grid-column: center-start / center-end;
  grid-row: 2 / 3;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);

  /* 
    auto-fit will create as many tracks as can fit in based on defined width, 
    which should always stay between 25rem and 1fr
  */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

  align-items: start; // fix big space between heading and text for 2 last cells (caused by default stretch)
  gap: 6rem;

  margin: 15rem 0;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;

  &__icon {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;

    width: 4.5rem;
    height: 4.5rem;

    // manually move icon up
    transform: translateY(-1rem);

    fill: $color-primary;
  }

  &__text {
    font-size: 1.7rem;
  }
}
