.row {
  max-width: $grid-width;
  margin: 0 auto;

  // everything except last child
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    // decrease space between rows
    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include respond(tab-land) {
    max-width: 105rem;
  }

  @include respond(tab-port) {
    // max-width will occupy 100% of its available width, so it needs to be smaller
    max-width: 55rem;
    padding: 0 3rem;
  }

  @include clearfix;

  // select classes that start with col-
  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      /* 
      columns are on top of each other now, 
      so we need to remove horizontal space between them and add vertical
      */
      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      // make sure to override width of columns
      width: 100% !important;
    }
  }

  /* 
    the width of the long columns is the sum of short columns (1-of) and the gutters between them
    uncomment GRID TEST in index.html to make sure
  */
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - #{$gutter-horizontal} * 2) / 3);
  }

  .col-2-of-3 {
    width: calc(
      2 * ((100% - #{$gutter-horizontal} * 2) / 3) + #{$gutter-horizontal}
    );
  }

  .col-1-of-4 {
    width: calc((100% - #{$gutter-horizontal} * 3) / 4);
  }

  .col-2-of-4 {
    width: calc(
      2 * ((100% - #{$gutter-horizontal} * 3) / 4) + #{$gutter-horizontal}
    );
  }

  .col-3-of-4 {
    width: calc(
      3 * ((100% - #{$gutter-horizontal} * 3) / 4) + #{$gutter-horizontal} * 2
    );
  }
}
