*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  font-weight: 30;
  color: #6d5d4b; }

.container {
  display: grid;
  /*
  ROW TRACKS

  1st row - 80vh
  2nd row - we want to the rows to grow with the content of feature boxes, so there is a min-content for that
  3rd row - decrease sizes of boxes as viewport shrinks -> use viewport width
  4th row - similar to 2nd
  5th row - same for the gallery
  6th row - and for the footer
  */
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  /*
  COLUMN 
  1st col - sidebar
  We want fixed width for the columns at wide screens, but newer below min-content
  1140px/8 = 142.5 ~= 14rem
  
  To center 8 columns between the sidebar and the end of the page, we need to add 2 more columns one to each side of 8 columns in the middle
  These 10 columns can will be used for creating full-bleed sections like header, gallery etc.
  
  minmax(6rem, 1fr) to prevent content from sticking to sidebar w/o any margin
  */
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  line-height: 1;
  font-size: 4.5rem;
  color: #f9f7f6; }

.heading-2 {
  line-height: 1;
  font-size: 4rem;
  font-style: italic; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483a; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483a; }

.btn {
  border: none;
  border-radius: 0;
  padding: 1.8rem 3rem;
  background-color: #c69963;
  cursor: pointer;
  transition: all 0.2s;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff; }
  .btn:hover {
    background-color: #b28451; }

.u-mb-sm {
  margin-bottom: 2rem; }

.u-mb-md {
  margin-bottom: 3rem; }

.u-mb-lg {
  margin-bottom: 4rem; }

.u-mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  background-color: #c69963; }

.nav-btn {
  height: 2px;
  width: 4.5rem;
  background-color: #fff;
  margin-top: 4rem;
  border-radius: 0;
  border: none; }
  .nav-btn::before, .nav-btn::after {
    content: "";
    display: block;
    height: 2px;
    width: 4.5rem;
    background-color: #fff; }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  .nav-btn::after {
    transform: translateY(1.3rem); }

.header {
  grid-column: full-start / col-end 6;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr min-content 6rem 1fr;
  grid-template-columns: max-content;
  row-gap: 1.5rem;
  padding: 8rem;
  padding-top: 4rem;
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .header__logo {
    justify-self: center;
    height: 3rem; }
  .header__btn {
    align-self: start;
    justify-self: start; }
  .header__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    column-gap: 1.5rem;
    font-size: 1.6rem;
    color: #aaa; }
    .header__seenon-text::before, .header__seenon-text::after {
      content: "";
      display: block;
      height: 1px;
      background-color: currentColor; }
  .header__seenon-logos {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem; }
    .header__seenon-logos img {
      height: 2.5rem;
      filter: brightness(70%); }

.realtors {
  padding: 3rem;
  grid-column: col-start 7 / full-end;
  background-color: #101d2c;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  row-gap: 2rem; }
  .realtors__list {
    display: grid;
    align-items: center;
    grid-template-columns: min-content max-content;
    column-gap: 2rem;
    row-gap: 5vh; }
  .realtors__img {
    width: 7rem;
    border-radius: 50%;
    display: block; }
  .realtors__sold {
    margin-top: -3px;
    text-transform: uppercase;
    color: #aaa; }

.features {
  grid-column: center-start / center-end;
  grid-row: 2 / 3;
  display: grid;
  /* 
    auto-fit will create as many tracks as can fit in based on defined width, 
    which should always stay between 25rem and 1fr
  */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: start;
  gap: 6rem;
  margin: 15rem 0; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem; }
  .feature__icon {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(-1rem);
    fill: #c69963; }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  grid-column: full-start / col-end 4;
  display: grid;
  /* 
      images have intrinsic aspect ratio,
      so they can't fill the grid area
    */
  align-items: center;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover; }

.story__img--1 {
  width: 100%;
  grid-column: 2 / 6;
  grid-row: 2 / 6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }

.story__img--2 {
  grid-row: 4 / 6;
  grid-column: 4 / 7;
  width: 115%;
  z-index: 10;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }

.story__content {
  grid-column: col-start 5 / full-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 6rem 8vw;
  background-color: #f9f7f6; }

.story__text {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  font-style: italic; }

.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem; }

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.5rem;
  background-color: #f9f7f6; }
  .home__image {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 1; }
  .home__like {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 10;
    justify-self: end;
    margin: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    fill: #c69963; }
  .home__name {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 20;
    align-self: end;
    justify-self: center;
    transform: translateY(50%);
    padding: 1.25rem;
    width: 80%;
    background-color: #101d2c;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #f9f7f6; }
  .home__location, .home__rooms {
    margin-top: 2.5rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
    font-size: 1.5rem; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      height: 2rem;
      width: 2rem;
      fill: #c69963; }
  .home__btn {
    grid-column: 1 / -1; }

.gallery {
  grid-column: full-start / full-end;
  grid-row: -2 / -3;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: #f9f7f6; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
  .gallery__item--3 {
    grid-row: 1 / span 2;
    grid-column: 6 / 7; }
  .gallery__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / span 2; }
  .gallery__item--5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
  .gallery__item--7 {
    grid-row: 4 / 5;
    grid-column: 5 / 6; }
  .gallery__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
  .gallery__item--9 {
    grid-row: 3 / span 3;
    grid-column: 8 / 9; }
  .gallery__item--10 {
    grid-row: 6 / span 2;
    grid-column: 1 / 2; }
  .gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
  .gallery__item--12 {
    grid-row: 6 / span 2;
    grid-column: 4 / 5; }
  .gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
  .gallery__item--14 {
    grid-row: 6 / span 2;
    grid-column: 8 / 9; }
  .gallery__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.footer {
  grid-column: full-start / full-end;
  grid-row: -1 / -2;
  padding: 8rem;
  background-color: #101d2c; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    display: block;
    height: 100%;
    padding: 1.5rem;
    transition: all 0.2s;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  text-align: center; }
