*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  font-weight: 30;
  color: #6d5d4b; }

.container {
  display: grid;
  /*
  ROW TRACKS

  1st row - 80vh
  2nd row - we want to the rows to grow with the content of feature boxes, so there is a min-content for that
  3rd row - decrease sizes of boxes as viewport shrinks -> use viewport width
  4th row - similar to 2nd
  5th row - same for the gallery
  6th row - and for the footer
  */
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  /*
  COLUMN 
  1st col - sidebar
  We want fixed width for the columns at wide screens, but newer below min-content
  1140px/8 = 142.5 ~= 14rem
  
  To center 8 columns between the sidebar and the end of the page, we need to add 2 more columns one to each side of 8 columns in the middle
  These 10 columns can will be used for creating full-bleed sections like header, gallery etc.
  
  minmax(6rem, 1fr) to prevent content from sticking to sidebar w/o any margin
  */
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483a; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.header {
  background-color: #54483a;
  grid-column: full-start / col-end 6; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.features {
  grid-column: center-start / center-end;
  grid-row: 2 / 3;
  display: grid;
  /* 
    auto-fit will create as many tracks as can fit in based on defined width, 
    which should always stay between 25rem and 1fr
  */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: start;
  gap: 6rem;
  margin: 15rem 0; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem; }
  .feature__icon {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(-1rem);
    fill: #c69963; }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  background-color: #c69963;
  grid-column: full-start / col-end 4; }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end; }

.homes {
  background-color: #101d2c;
  grid-column: center-start / center-end; }

.gallery {
  background-color: #54483a;
  grid-column: full-start / full-end;
  grid-row: -2 / -3; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  grid-row: -1 / -2; }
